auto-save-list/
backups/
*~
.places
session.*
tramp
elpa/
swank
emms
site-lisp/adventur-mode
*.elc
.yas-compiled-snippets.el
.cask
/url/
/var/
/.sx/
/ensime/
*.dat
projectile-bookmarks.eld
recentf
.python-environments/
savehist
